<!--В этом файле хранятся все главные настройки

	FXAAEnable требует UsePostEffects = True
	RefreshRate, RefreshRateLimit требует Fullscreen = True
	Monitor = Номер монитора [0..N], значение "-1" означает главный монитор
	Fullscreen  - будет ли окно на весь экран
	FullscreenWindowed - будет ли полноэкранный режим менять разрешение экрана (да, если False)
-->

<Config>
	<Title>LED Engine</Title>
	
	<Monitor>-1</Monitor>
	<Fullscreen>False</Fullscreen>
	<FullscreenWindowed>False</FullscreenWindowed>
	<CenterWindow>True</CenterWindow>
	<WindowBorders>True</WindowBorders>
	<WindowX>50</WindowX>
	<WindowY>50</WindowY>
	<Width>800</Width>
	<Height>600</Height>
	
	<MonitorDepthBits>8, 8, 8</MonitorDepthBits>
	<RefreshRate>60</RefreshRate>
	<RefreshRateLimit>200</RefreshRateLimit>
	<VSyncSwapInterval>0</VSyncSwapInterval>
	<UsePostEffects>True</UsePostEffects>
	<FXAAEnabled>True</FXAAEnabled>
	<FogEnabled>True</FogEnabled>
	
	<Debug>
		<Enabled>True</Enabled>
		<ShowFPS>True</ShowFPS>
		<DrawDebugObjects>True</DrawDebugObjects>
	</Debug>
	
	<Paths>
		<GameData>GameData</GameData>
		<EngineContentFolder>Engine</EngineContentFolder>
		
		<EngineMaps>Maps</EngineMaps>
		<EngineMeshes>Meshes</EngineMeshes>
		<EngineShaders>Shaders</EngineShaders>
		<EngineTextures>Textures</EngineTextures>
		<EngineCubemapTextures>Cubemaps</EngineCubemapTextures>
		
		<Maps>Maps</Maps>
		<Meshes>Meshes</Meshes>
		<Shaders>Shaders</Shaders>
		<Textures>Textures</Textures>
		<CubemapTextures>Cubemaps</CubemapTextures>
	</Paths>
	<EngineContent>
		<Maps>Maps.xml</Maps>
		<Meshes>Meshes.xml</Meshes>
		<Textures>Textures.xml</Textures>
		<CubemapTextures>Cubemaps.xml</CubemapTextures>
		<Materials>Materials.xml</Materials>
		<Shaders>Shaders.xml</Shaders>
	</EngineContent>
	<Content>
		<Maps>Maps.xml</Maps>
		<Meshes>Meshes.xml</Meshes>
		<Textures>Textures.xml</Textures>
		<CubemapTextures>Cubemaps.xml</CubemapTextures>
		<Materials>Materials.xml</Materials>
		<Shaders>Shaders.xml</Shaders>
	</Content>
</Config>