<!--В этом файле хранятся все главные настройки-->

<Config>
	<Title>OpenGL(OpenTK) C# Game</Title>
	<Debug>True</Debug>
	<ShowFPS>True</ShowFPS>
	<UsePostEffects>True</UsePostEffects>
	<VSyncEnable>False</VSyncEnable>
	<Paths>
		<GameData>GameData</GameData>
		
		<EngineContent>Engine</EngineContent>
		<EngineMeshes>Meshes</EngineMeshes>
		<EngineShaders>Shaders</EngineShaders>
		<EngineTextures>Textures</EngineTextures>
		<EngineCubemapTextures>Cubemaps</EngineCubemapTextures>
		
		<Meshes>Meshes</Meshes>
		<Shaders>Shaders</Shaders>
		<Textures>Textures</Textures>
		<CubemapTextures>Cubemaps</CubemapTextures>
	</Paths>
	<EngineConfigFiles>
		<Textures>Textures.xml</Textures>
		<CubemapTextures>Cubemaps.xml</CubemapTextures>
		<Materials>Materials.xml</Materials>
		<Shaders>Shaders.xml</Shaders>
	</EngineConfigFiles>
	<ConfigFiles>
		<Textures>Textures.xml</Textures>
		<CubemapTextures>Cubemaps.xml</CubemapTextures>
		<Materials>Materials.xml</Materials>
		<Shaders>Shaders.xml</Shaders>
	</ConfigFiles>
</Config>