<!--В этом файле хранятся все главные настройки-->

<Config>
	<Title>OpenGL(OpenTK) C# Game</Title>
	<Paths>
		<GameData>GameData</GameData>
		<Meshes>Meshes</Meshes>
		<Shaders>Shaders</Shaders>
		<Textures>Textures</Textures>
		<CubeMapTextures>Cubemaps</CubeMapTextures>
	</Paths>
	<ConfigFiles>
		<Textures>Textures.xml</Textures>
		<CubeMapTextures>Cubemaps.xml</CubeMapTextures>
		<Materials>Materials.xml</Materials>
		<Shaders>Shaders.xml</Shaders>
	</ConfigFiles>
</Config>